<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.mall.server.mapper.UserMapper">

    <resultMap id="user" type="com.bc.mall.server.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserListByUserName" parameterType="String" resultMap="user">
        select
        *
        from t_user
        where user_name = #{userName}
        and store_id = #{storeId}
    </select>

    <select id="getUserListByPhone" parameterType="String" resultMap="user">
        select
        *
        from t_user
        where phone = #{phone}
        and store_id = #{storeId}
    </select>

    <select id="getUserListByAccountAndPassword" parameterType="String" resultMap="user">
        select
        *
        from t_user
        where
        (user_name = #{account} or phone = #{account})
        and store_id = #{storeId}
    </select>

    <insert id="addUser" parameterType="com.bc.mall.server.entity.User">
        insert into t_user
        (
        id,
        store_id,
        user_name,
        phone,
        avatar,
        password,
        source
        )
        values
        (
        #{id},
        #{storeId},
        #{userName},
        #{phone},
        #{avatar},
        #{password},
        #{source}
        )
    </insert>
</mapper>